.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.todos {
  margin-bottom: 1em;
  background-color: rgb(212, 212, 212);
  border-radius: 2px;
  height: auto;
  padding: .5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.todos h4 {
  margin: 0;
}